/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.modalBtn {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  padding: 12px 24px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Adjust the z-index value if necessary */
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #fff;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);

}

.dataText {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(13, 13, 14);
}

.btnGray {
  background-color: rgb(51, 51, 51);
  color: #fff;
}

/* Custom position class for toastr */
.toast-center {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}
